/*
sidebar foating on right of container
*/
#wrap #container #sidebar{
	position: relative;
	float: right;
	margin-right: -150px;
	width: 150px;
	height: 100%;
	top: 50px;
	z-index: 10;
}

/*
no scroll sidebar container
*/
#wrap #container #sidebar #sidebarWrap{
	position: fixed;
	width: 150px;
	display: block;
}

/*
sidebar button at normal state
*/
.sidebarButton{
	height: 80px;
	width: 150px;
	display: block;
	z-index:10;
	font-size: 12pt;
	color: #000;
	font-weight: bold;
	background: #ddd;
	border: 1px  groove #fff;
	text-align: center;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
}

/*
sidebar button activeted
*/
.sidebarActive{
	background: #fff;
	border: 1px dotted #ddd;
	border-left: 0;
	z-index: 20;
	
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
}

/*
sidebar button droppable
*/
.sidebarDrop{
	background: #ff8000;
	border: 1px dotted #ff8040;
	border-left: 0;
	z-index: 20;
	
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
}

.sidebarButtonText{
	position: relative;
	top: 30px;
	color:#6445ff;
}