/*
table with movies container
*/
div > div.movie_table{
width: 100%;
line-height: 25px;
}

/*
table header row
*/
div > div.movie_table ul.movie_thead{
 width: 100%;
 display: block;
 height: 25px;
 margin: 0px;
 padding: 0px;
 margin: 5px 0px 5px 0px;
 background: #DDDDDD;
 color: #55595C;
 font-style: italic;
 font-weight: bold;
}

/*
table header column
*/
ul > li.movie_thead_li{
 width: 22%;
 display: block;
 float: left;
 height: 100%;
 margin: 0px 2px 0px 2px;
 padding: 0px;
 text-align: center;
}

/*
table row
*/
div > div.movie_table ul.movie_drag{
 width: 100%;
 display: block;
 height: 25px;
 background: #DDDDDD;
 color: #55595C;
 margin: 5px 0px 5px 0px;
 padding: 0px;
}

div > div.movie_table ul.movie_drag:hover{
 background: #FF8E53;
 color: #fff;
}

/*
table column
*/
ul > li.movie_drag_li{
 width: 22%;
 text-align: center;
 display: block;
 float: left;
 height: 100%;
 margin: 0px;
 margin: 0px 2px 0px 2px;
 padding: 0px;
}

/*
table delete column (width <)
*/
ul> li.movie_thead_del{
	width: 50px;
	height: 100%;
	display: block;
	margin: 0px 2px 0px 2px;
	float: left;
}

ul > li.movie_drag_del{
	width: 25px;
	height: 100%;
	display: block;
	margin: 0px 0px 0px 15px;
	float: left;
	background: url("../img/delete.png") no-repeat 0 0;
	cursor: pointer;
}

.movie_trailer span, .movie_image span{
	/*background: url("../img/button-var.png") no-repeat 0 0;*/
	display: block;
	width: 150px;
	height: 20px;
	font-size: 12px;
	font-weight:bold;
	line-height:20px;
	margin: auto;
	margin-top:3px;
	color: #333;
}

.movie_trailer span:hover, .movie_image span:hover{
	/*background: url("../img/button-var.png") no-repeat 0 -21px;*/
	color: #fff;
	cursor: pointer;
}
