body {
    font-family: helvetica;
}

#body_container {
    margin-bottom: 30px;
    height: 400px;
}

#body_container table {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

#copyright {
    float: right;
}

#error {
    padding: 10px;
    background-color: #FFAAAA;
    border: 1px solid #FF0000;
    text-align: center;
    margin-bottom: 20px;
}

#success {
    padding: 10px;
    background-color: #AAFFAA;
    border: 1px solid #00FF00;
    text-align: center;
    margin-bottom: 20px;
}

table{
text-align:center;
width: 874px;
border: 5px solid #ddd;
}

.movie_title {
    width: 22%;
}
.movie_category {
    width: 22%;
}
.movie_dettails {
    width: 22%;
}
.movie_image {
    width: 22%;
}

.movie_trailer {
    width: 22%;
}

.movie_delete a {
    text-decoration: none;
    color: #FF0000;
}

.center{
 margin: auto;
 width: 874px;
 padding: 10px;
}